*.o
*.out
*.exe
*~
.DS_STORE
**/__pycache__
torrents
out
log

# Visual Studio Code (un)code
.vscode
.vscode-server
.devcontainer
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history